* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28,100%,82%);
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 0%, 96%);
  --grayText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px rgba(0,0,0,0.5) 0px 4px 6px -2px
  --transition: .4s ease-in-out ;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
  color: var(--grayText);
}
a:hover {
  color: var(--PrimaryColor);
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--HoverColor);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--grayText);
}

p {
  font-size: 13px;
  color: var(--grayText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

.vanish {
  display: none;
}

.seen {
  font-size: 12px;
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne, .navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--SecondaryColor);
}
.navBar .navBarOne .icon:hover {
  color: var(--PrimaryColor);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--blackColor);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--PrimaryColor);
  font-weight: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .logoDiv .Logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    background: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: var(--boxShadow);
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--blackColor);
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .navBarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
}
.navBar .navBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: var(--blackColor);
}
.navBar .navBarTwo .showNavBar {
  right: 50%;
  transition: 0.4s ease-in-out;
}
.navBar .withBG {
  background: var(--SecondaryColor);
  padding: 0 1rem;
  top: 7%;
  box-shadow: var(--boxShadow);
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainText {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeImages .videoDiv {
  width: 100%;
}
.home .homeImages .videoDiv .video {
  border-radius: 10rem;
}
.home .homeImages .plane {
  position: absolute;
  width: 100%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grayBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: var(--SecondaryColor);
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  margin: auto;
}
.search .sectionContainer .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.search .sectionContainer .singleBtn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .singleBtn .active {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
}
.search .sectionContainer .selected {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .searchInputs .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--SecondaryColor);
  margin-right: 1rem;
}
.search .searchInputs .singleInput .iconDiv .icon {
  color: var(--blackColor);
  opacity: 0.7;
}
.search .searchInputs .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--blackColor);
  font-weight: 700;
}
.search .searchInputs .singleInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .searchInputs .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .searchInputs .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .searchInputs2 {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .searchInputs2 .singleInput .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--SecondaryColor);
  margin-right: 1rem;
}
.search .searchInputs2 .singleInput .iconDiv .icon {
  color: var(--blackColor);
  opacity: 0.7;
}
.search .searchInputs2 .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--blackColor);
  font-weight: 700;
}
.search .searchInputs2 .singleInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .searchInputs2 .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .searchInputs2 .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .vanish {
  display: none;
}

.create .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grayBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.create .sectionContainer .head {
  margin: auto;
  padding-right: 4rem;
}
.create .sectionContainer .btnBlock {
  text-align: center;
  padding-right: 4rem;
}

.support .sectionContainer .titlesDiv {
  text-align: center;
}
.support .sectionContainer .titlesDiv small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--blackColor);
  line-height: 1.5rem;
}
.support .sectionContainer .infoDiv {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv {
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .number {
  background: var(--PrimaryColor);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorOne {
  background: var(--colorOne);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorTwo {
  background: var(--colorTwo);
}
.support .sectionContainer .imgDiv {
  margin: auto;
}
.support .sectionContainer .imgDiv img {
  width: 100%;
  max-width: 420px;
}

.info {
  background: var(--SecondaryColor);
}
.info .infoContainer .titleDiv {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .infoContainer .cardsDiv {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .infoContainer .cardsDiv .singleCard {
  background: var(--whiteColor);
  padding: 3rem 2rem;
  border-radius: 5rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv {
  justify-content: center;
  margin: auto;
  background: var(--PrimaryColor);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv .icon {
  color: var(--whiteColor);
}
.info .infoContainer .cardsDiv .singleCard .cardTitle {
  color: var(--blackColor);
  font-weight: 700;
}
.info .infoContainer .cardsDiv .singleCard .colorOne {
  background-color: var(--colorOne);
}
.info .infoContainer .cardsDiv .singleCard .colorTwo {
  background-color: var(--colorTwo);
}

.lounge .sectionContainer {
  gap: 1.5rem;
}
.lounge .sectionContainer .imgDiv {
  margin: auto;
}
.lounge .sectionContainer .imgDiv img {
  width: 100%;
  max-width: 430px;
}
.lounge .sectionContainer .textDiv .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .sectionContainer .textDiv .grids .singleGrid .gridTitle {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--blackColor);
}

.subscribe {
  background: var(--SecondaryColor);
}
.subscribe .sectionContainer {
  text-align: center;
}
.subscribe .sectionContainer .inputDiv {
  margin-top: 1rem;
  flex-direction: column;
  background: var(--whiteColor);
  border-radius: 1rem;
}
.subscribe .sectionContainer .inputDiv input {
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 0.5rem;
}
.subscribe .sectionContainer .inputDiv input::-moz-placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .sectionContainer .inputDiv input::placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .sectionContainer .inputDiv .btn {
  width: 100%;
  border-radius: 1rem;
}

.footer {
  background: var(--SecondaryColor);
}
.footer .sectionContainer {
  gap: 2.5rem;
}
.footer .sectionContainer .gridOne {
  gap: 1rem;
  justify-content: center;
  margin: auto;
}
.footer .sectionContainer .gridOne .logoDiv .Logo {
  width: 20%;
}
.footer .sectionContainer .gridOne .socialIcon {
  margin-top: 1rem;
  gap: 1rem;
}
.footer .sectionContainer .gridOne .socialIcon .icon {
  height: 50px;
  width: 30px;
  border-radius: 10rem;
  border: 1px solid var(--borderColor);
  box-shadow: var(--boxShadow);
  padding: 0.4rem;
  color: var(--grayText);
}
.footer .sectionContainer .gridOne .socialIcon .icon:hover {
  background: var(--PrimaryColor);
  transform: translateY(-7px);
  transition: var(--transition);
  border: 1px solid var(--PrimaryColor);
  color: var(--whiteColor);
}
.footer .sectionContainer .footerLinks {
  display: grid;
}
.footer .sectionContainer .footerLinks .linkTitle {
  color: var(--blackColor);
  font-weight: 500;
  display: block;
  padding-bottom: 1rem;
}
.footer .sectionContainer .footerLinks li a {
  display: block;
  color: var(--grayText);
  transition: var(--transition);
}
.footer .sectionContainer .footerLinks li a:hover {
  transform: translateX(7px);
  color: var(--PrimaryColor);
}
.footer .copyRightDiv p {
  padding-top: 2rem;
  text-align: center;
  margin: auto;
  font-size: 11px;
}

.bookings {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.bookings .head {
  padding-top: 6rem;
  padding-bottom: 3rem;
  font-size: 27px;
}
.bookings .head small {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--blackColor);
  line-height: 1rem;
}

.myflights {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.myflights .head {
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-size: 27px;
}
.myflights .head small {
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--blackColor);
  line-height: 1rem;
}

.allflights .sectionContainer {
  max-width: 800px;
}

.admin .headText {
  padding-top: 3rem;
  padding-left: 1.5rem;
  text-align: center;
}
.admin .headText h1 {
  font-size: 60px;
}
.admin .headText small {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--blackColor);
  line-height: 1.5rem;
}
.admin .head {
  text-align: center;
}
.admin .head h1 {
  font-size: 45px;
}

.dashboard {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grayBg);
  border-radius: 16px;
  gap: 10rem;
  padding-left: 4rem;
}
.dashboard .container {
  max-height: 400px;
}
.dashboard .usertable .btn {
  width: 160px;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
  .home .homeImages .video {
    width: 80%;
    border-radius: 10rem;
  }
  .search .sectionContainer .searchInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .search .sectionContainer .searchInputs2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .search .sectionContainer .btn {
    width: 100%;
    max-width: 440px;
    margin: auto;
  }
  .create .sectionContainer .searchInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .create .sectionContainer .btn {
    width: 100%;
    max-width: 440px;
    margin: auto;
  }
  .subscribe .sectionContainer {
    max-width: 80% px;
    margin: auto;
  }
  .subscribe .sectionContainer .inputDiv {
    flex-direction: row;
    padding: 0 0.5rem;
    border-radius: 10rem;
  }
  .footer .sectionContainer {
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .sectionContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 570px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .video {
    width: 80%;
    border-radius: 10rem;
  }
  .home .homeImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .info .infoContainer .titleDiv {
    flex-direction: row;
  }
  .info .infoContainer .titleDiv h2 {
    text-align: left;
    max-width: 500px;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .sectionContainer .inputDiv {
    justify-content: space-between;
  }
  .subscribe .sectionContainer .inputDiv .btn {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .mainText {
    width: 80%;
    font-size: 16px;
    line-height: 3rem;
  }
  .home .homeImages .videoDiv {
    width: 80%;
  }
  .home .homeImages .videoDiv .video {
    height: 100%;
    width: 100%;
    border-radius: 10rem;
  }
  .home .homeImages .videoDiv .plane {
    width: 95%;
    top: -8%;
  }
  .search .sectionContainer .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .searchInputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .search .searchInputs2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .create .sectionContainer {
    max-width: 800px;
    margin: auto;
    padding-left: 5rem;
  }
  .create .sectionContainer .searchInputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .sectionContainer {
    padding-top: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .home .mainText {
    font-size: 18px;
    line-height: 3rem;
  }
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navBar .navBarOne .none li {
    font-size: 13px;
    gap: 0.5rem;
    color: var(--textColor);
  }
  .navBar .navBarOne .none li:hover {
    color: var(--PrimaryColor);
    text-decoration: underline;
  }
  .navBar .navBarTwo {
    justify-content: space-between;
    align-items: center;
  }
  .navBar .navBarTwo .logoDiv .Logo {
    max-width: 20%;
  }
  .navBar .navBarTwo .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    color: var(--textColor);
    font-weight: 500;
  }
  .navBar .navBarTwo .menu .listItem:hover {
    color: var(--PrimaryColor);
  }
  .navBar .navBarTwo .menu .listItem .active {
    color: var(--PrimaryColor);
  }
  .navBar .navBarTwo .btnOne, .navBar .navBarTwo .toggleIcon {
    display: none;
  }
  .search .sectionContainer .btns {
    width: 70%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .searchInputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .searchInputs .singleInput .texts input {
    width: 100%;
  }
  .search .searchInputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .searchInputs .singleInput2 .texts input {
    width: 100%;
  }
  .support .sectionContainer .infoDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  .support .sectionContainer .infoDiv .textDiv {
    margin-top: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .info .infoContainer {
    padding: 0.6rem;
  }
  .info .infoContainer .titleDiv {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .infoContainer .cardsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .infoContainer .cardsDiv .singleCard {
    max-width: 260px;
    padding: 3rem 1 rem;
  }
  .lounge .sectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .sectionContainer .textDiv {
    grid-area: 1;
  }
  .lounge .sectionContainer .textDiv .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .create .sectionContainer .searchInputs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;
  }
  .home .mainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
  .search .sectionContainer .btns {
    width: 50%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .sectionContainer .searchInputs2 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 18px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0.4rem;
  }
  .container {
    width: 85%;
    margin: auto;
  }
  .navBar .navBarOne, .navBar .navBarTwo {
    padding-bottom: 1.5rem 5rem;
  }
  .navBar .withBG {
    padding: 0.5rem;
  }
  .home .mainText {
    width: 60%;
    font-size: 25px;
    line-height: 4rem;
    padding-bottom: 4rem;
  }
  .home .homeImages {
    width: 90%;
    height: 300px;
  }
  .home .homeImages .videoDiv .video {
    max-width: 900px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    max-width: 900px;
    width: 100%;
    top: -25%;
  }
  .search .sectionContainer {
    max-width: 1200px;
    margin: auto;
  }
  .search .sectionContainer .btns {
    width: 60%;
  }
  .search .sectionContainer .searchInputs {
    grid-template-columns: repeat(5, 1fr);
  }
  .search .sectionContainer .searchInputs2 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1106px) {
  .subscribe .sectionContainer {
    max-width: 60%;
  }
}
@media screen and (min-width: 1332px) {
  .navBar .navBarTwo .menu {
    gap: 1rem;
  }
  .navBar .navBarTwo .menu .listItem {
    padding: 0 1.5rem;
    font-size: 16px;
  }
  .support .sectionContainer .infoDiv {
    gap: 1rem;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo p {
    max-width: 500px;
  }
  .create .sectionContainer {
    max-width: 1260px;
    margin: auto;
    padding-left: 7rem;
  }
  .create .sectionContainer .searchInputs {
    grid-template-columns: repeat(6, 1fr);
  }
}
::-moz-selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
::selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--grayBg);
}

::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */